/* Select */
.select {
	/* Baseline styles */
	.field__decorator {
		display: flex;
		align-items: center;

		&:after {
			content: '';
			display: block;
			z-index: 1;
		}

		.field__native {
			cursor: pointer;
			-webkit-appearance: none;
			display: block;
			outline: none;
			position: relative;
			width: 100%;
			z-index: 2;
		}
	}

	/* Style variants */
	&--default {
		.field__label {
			padding: 0.25rem 0.5rem;
		}

		.field__decorator {
			border-radius: 4px;
			box-shadow: 0 0 0 1px var(--color-gray-light);
			min-width: 10.25rem;

			&:after {
				background-image: url('./assets/chevron.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				height: 1rem;
				margin-left: -1.5rem;
				margin-right: 0.25rem;
				transform: rotateZ(90deg);
				width: 1rem;
			}

			.field__native {
				border-radius: 4px;
				border: none;
				background: transparent;
				color: black;
				padding: 6px 15px 6px 10px;
				padding-right: 1.75rem;
				transition: box-shadow 0.15s;
			}
		}		
	}
}
