.input {
	/* Baseline styles */
  /* Radios & Checkboxes */
  &-radio,
  &-checkbox {
  	position: relative;

  	.field__label {
  		display: flex;
  		align-content: center;
  		justify-content: space-between;

			&:before {
				content: '';
			}
  	}

		.field__native {
			cursor: pointer;
			height: 100%;
			opacity: 0;
			padding: 0;
			position: absolute;
			width: 100%;
		}		
  }

  /* Style variants */
  &--default {
		.field__native {
			border: none;
			border-radius: 4px;
			box-shadow: 0 0 0 1px var(--color-gray-light);
			margin: 0;
			outline: none;
			padding: 0.5rem 0.5rem;
			transition: box-shadow 0.15s;

			&:--haf {
				box-shadow: 0 0 0 2px var(--color-gray-light);
			}
		}

		.field__label {
			padding: 0.5rem;

			&:before {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				margin: 0 0.5rem;
				padding: 0.5rem;				
			}			
		}

		&.input-radio {
			.field__label:before {
				background-image: url('./assets/radio-unchecked.svg');
			}

			.field__native:checked + .field__label:before {
				background-image: url('./assets/radio-checked.svg');
			}
		}

		&.input-checkbox {
			.field__label:before {
				background-image: url('./assets/checkbox-unchecked.svg');
			}

			.field__native:checked + .field__label:before {
				background-image: url('./assets/checkbox-checked.svg');
			}
		}
  }
}
